# Triggered by a new release, will create new binaries
name: Release workflow

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  check:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Test release version against system version
        if: ${{ github.event.release.tag_name != '' }}
        run: |
          VER=v$(cat VERSION)
          REL=${{ github.event.release.name }}
          echo "Github release name: $REL"
          echo "AVR-GDB version: $VER"
          if [ "x$VER" != "x$REL" ]; then
             echo "Release version does not match system version"
             exit 1
          fi
          echo "Release and system version are identical, now we continue"

  build:
    needs: check
    strategy:
      matrix:
        runner: ["ubuntu-24.04", "ubuntu-latest" ] # [ "macos-15-intel", "macos-15", "ubuntu-24.04", "ubuntu-24.04-arm", "ubuntu-latest" ]
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Install packages
        if: matrix.runner == 'ubuntu-24.04' || matrix.runner == 'ubuntu-24.04-arm' || matrix.runner == 'ubuntu-latest'
        run: |
          sudo apt-get install wget make mingw-w64 bzip2 xz-utils autoconf texinfo libgmp-dev libmpfr-dev libexpat1-dev

      - name: macos-intel
        if: matrix.runner == 'macos-15-intel'
        run: |
          echo "OS=macos" >> $GITHUB_ENV
          echo "ARCH=intel" >> $GITHUB_ENV
          echo "PREF=x86_64-apple-darwin" >> $GITHUB_ENV

      - name: macos-arm
        if: matrix.runner == 'macos-15'
        run: |
          echo "OS=macos" >> $GITHUB_ENV
          echo "ARCH=arm" >> $GITHUB_ENV
          echo "PREF=arm64-apple-darwin" >> $GITHUB_ENV

      - name: linux-intel
        if: matrix.runner == 'ubuntu-24.04'
        run: |
          echo "OS=linux" >> $GITHUB_ENV
          echo "ARCH=intel" >> $GITHUB_ENV
          echo "PREF=x86_64-linux-gnu" >> $GITHUB_ENV

      - name: linux-arm
        if: matrix.runner == 'ubuntu-24.04-arm'
        run: |
          echo "OS=linux" >> $GITHUB_ENV
          echo "ARCH=arm" >> $GITHUB_ENV
          echo "PREF=aarch64-linux-gnu" >> $GITHUB_ENV

      - name: windows
        if: matrix.runner == 'ubuntu-latest'
        run: |
          echo "OS=windows" >> $GITHUB_ENV
          echo "ARCH=intel" >> $GITHUB_ENV
          echo "PREF=x86_64-mingw32" >> $GITHUB_ENV

      - name: patch and build 
        run: |
          mkdir build
          mkdir build/avr-windows-intel
          mkdir build/avr-linux-intel
          mkdir build/avr-windows-intel/bin
          mkdir build/avr-linux-intel/bin
          touch build/avr-windows-intel/bin/avr-gdb.exe
          touch build/avr-linux-intel/bin/avr-gdb
          if [[ "${{ env.OS }}" == "windows" ]]; then
            mv build/avr-${{ env.OS }}-${{ env.ARCH }}/bin/avr-gdb.exe .
            tar -cvz --exclude="*DS_Store" --exclude="*/._*" -f ${{ env.PREF }}.tar.gz avr-gdb.exe
          else
            mv build/avr-${{ env.OS }}-${{ env.ARCH }}/bin/avr-gdb .
            tar -cvz --exclude="*DS_Store" --exclude="*/._*" -f ${{ env.PREF }}.tar.gz avr-gdb
          fi

      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PREF }}
          path: ${{ env.PREF }}.tar.gz
          overwrite: true
          if-no-files-found: error

  upload:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Create subdir
        run: |
          rm -rf assets
          mkdir assets

      - name: Download x86_64-gnu-linux
        uses: actions/download-artifact@v7
        with:
          pattern: *
          merge-multiple: true
          path: assets

      - name: Asset upload
        if: ${{ github.event.release.tag_name != '' }}
        uses: softprops/action-gh-release@v2
        with:
          files: assets/*